*{
    box-sizing: border-box;
}

body{
    background-image: url(bg.png);
    display: grid;
    place-items: center;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);   
}

.login-box h1{
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid #0000ff;
}

.form{
    overflow: hidden;
}

#user-name{
    background: none;
    border: none;
    outline: none;
    text-align: center;
    border-bottom: 1px solid #0000ff;
}

#user-name:focus{
    outline: none;
}

#btn-registation{
    margin-top: 10px;
    width: 100%;
    background: none;
    border: 1px solid #0000ff;
    padding: 5px;
}

.alert-danger {
    transition-delay: 0,2s;
    margin-top: 10px;
}

.box-user{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    margin-left: 100px;
}

.title{
    text-align: center;
    margin-top: 50px;
}

.title-box-user{
    border-bottom: 1px solid black;
    border-radius: 0 0 3px 3px;
    font-weight: bold;
}

.chat-box {
    margin-top: 100px;
    transition-delay: 0,2s;
}

.box-chat{
    height: 70vh;
    width: 1000px;
    border: 1px solid black;
    margin-left: 100px;
}

.type-message{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.type-message input{
    width: 87%;
    height: 30px;
    border-radius: 3px;
    background:#FFFFFF;
    border: none;
}

.type-message input:focus{
    outline:none;
}

.type-message button{
    width: 12%;
}

.header-box{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid ;
}

.header-box button{
    background: none;
    border: none;
    padding:0;
    margin: 0;
}

.body-chat{
    display: grid;
    grid-template-columns: 70%;
    justify-content: start;
    justify-items: start;
}

.data-chat{
    border-radius: 0px 10px 0px 10px;
    border: 1px solid blue;
    margin-top: 5px;
    background: #eee;
    color: #111;
}

#name-user{
    font-weight: bold;
    color: blue;
}