*{
    box-sizing: border-box;
}

body{
    background-image: url(bg.png);
}

.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);   
}

.login-box h1{
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid #0000ff;
}

.form{
    overflow: hidden;
}

#user-name{
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #0000ff;
}

#btn-registation{
    margin-top: 10px;
    width: 100%;
    background: none;
    border: 1px solid #0000ff;
    padding: 5px;
}

.box-user{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
}

.title{
    text-align: center;
    margin-top: 50px;
}

.title-box-user{
    border-bottom: 1px solid black;
    border-radius: 0 0 3px 3px;
}

.chat-box {
    margin-top: 100px;
    transition-delay: 0,2s;
}

.box-chat{
    height: 70vh;
    width: 1000px;
    border: 1px solid black;
    margin-left: 100px;
}

.type-message{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.type-message input{
    width: 87%;
    height: 30px;
    border-radius: 3px;
}

.type-message button{
    width: 12%;
}

.header-box{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid ;
}

.header-box button{
    background: none;
    border: none;
    padding:0;
    margin: 0;
}

.body-chat{
    list-style-type: none;
}